@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calc_numbs {
  display: flex;
  justify-content: center;
}

.calc_days .calc_numbs {
  padding: 0 1rem;
}

.calc {
  position: absolute;
  top: 9rem;
  right: 135px;
  width: 100%;
  max-width: 928px;
  height: auto;
  min-height: 850px;
  border-radius: 30px;
  box-shadow: inset 0 0 5px 0;
  background: hsla(0, 0%, 100%, .5);
}

.calc {
  background: hsla(0, 0%, 100%, .9) !important;
}

.slider-container {
  text-align: center;
  margin-top: 50px;
}

.slider {
  width: 80%;
}

/* Stars
------------------------------------- */

body {
  background: #000;
}

.wrapper, button {
  font-family: Comfortaa;
}

